@import('font.css');
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: list4;
}
/*header start*/
.heading {
	float: left;
	background-repeat: no-repeat;
	background-position: right;
	background: url(../images/bg.png) no-repeat;
	width: 100%;
	height: 900px;
}
.list a {
	color: #fff;
}
.list {
	float: left;
	padding: 55px;
}

.lists {
	padding: 55px;
	color: #2F80ED;
	float: right;
}
.box2 {
	float: right;
	width: 90%;
	height: 440px;
}
.box-left {
	margin-top: 60px;
	margin-left: -163px;
	float: left;
	width: 30%;
	height: 436px;
}
.box-left h1 {
	margin-left: 50px;
	padding: 15px;
	font-size: 67px;
	font-weight: 900;
	color: #fff;
}
.box-left p {
	margin-left: 50px;
	padding: 20px;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
}
.box-left button {
	margin-left: 50px;
	width: 160px;
	height: 50px;
	color: ;
	background-color: #F2C94C;
	border-radius: 40px;
	border: #333333;
}
.box-left button:focus {
	transition: 1s;
	background-color: #fff;
	color: #F2C94C;
	border: 2px solid #F2C94C;
}
.box-left {
	color: #F2C94C;	
}
.box-right {
	float: right;
	width: 60%;
	height: 436px;
}
/*header end*/

/*section start*/
.box3 {
	background-color: #ddd;
	width: 90%;
	height: 622px;
	margin-right: auto;
	margin-left: auto;
}
.box3 b {
	color: #333333;
}
.items2 {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	height: 620px;
}
.list2 h1 {
	margin-top: 30px;
	margin-bottom: 20px;
	font-weight: 900;
 	font-size: 42px;
	color: #4F4F4F;
}
.list2 p {
	margin-bottom: 30px;
	color: #4F4F4F;
	font-size: 14px;
}
.list2 b {
	color: #F2C94C;
}
.list2 button {
	width: 160px;
	height: 50px;
	color: #333333;
	background-color: #F2C94C;
	border-radius: 40px;
	border: #333333;
}
.list2 button:focus {
	transition: 1s;	
	background-color: #F0F6FE;
	color: #95B2D8;
}
.list2 {
	background-color: #fff;
	margin: 25px;
	height: 616px;
	margin-top: 20px;
	float: left;
	padding: 50px;
	text-align: center;
	width: 430px;
	border:	0;
	border-radius: 20px;
	box-shadow: 0px 0px 29px -5px black;
}
/*section end*/



/*section-2 start*/
.box4 {
	background-color: red;
	margin-top: 1000px;
	width: 100%;
	height: 660px;
	background: url(../images/mg.png) no-repeat;
}
.box4 h1 {
	text-align: center;
	font-size: 48px;
	color: #95B2D8;
}
.box4 h3 {
	text-align: center;
	font-size: 14px;
	color: #4F4F4F ;
}
.box5 {
	margin-top: 50px;
	float: left;
	width: 45%;
	height: 432px;
}
.box6 {
	text-align: left;
	margin-top: 84px;
	float: right;
	width: 55%;
	height: 400px;
}
.list3 {
	text-align: left;
	float: left;
	padding: 30px;
	width: 45%;
}
.list3 p {
	font-size: 14px;
	color: #4F4F4F	;
}
.box6 button {
	margin-left: 30px;
	width: 160px;
	height: 50px;
	color: #333333;
	background-color: #F2C94C;
	border-radius: 40px;
	border: #333333;
}
.box6 button:focus {
	transition: 1s;	
	background-color: #F0F6FE;
	color: #95B2D8;
}
.box6 b {
	margin-left: 30px;
	color: #95B2D8;
	opacity: 0.8;
}
/*section-2 end*/


/*section-3 start*/
.box7 {
	text-align: center;
	width: 100%;
	height: 450px;
}
.box7 h1 {
	color: #95B2D8;
	text-align: center;
	font-size: 48px;
}
.box7 h2 {
	font-size: 14px;
	text-align: center;
	color: #333333;
}
.items4 {
	margin-right: auto;
	margin-left: auto;
}
.list4 p{
	font-weight: 900;
	font-size: 18px	;
}
.list4 b {
	color: #F2C94C;
}
.list4 {
	margin-left: 61px;
	float: left;
	margin-top: 50px;
}
.list4:nth-child(1) {
	margin-left: 144px;
}
/*section-3 end*/


/*footer start*/
.box9 {
	background-color: #F0F6FE;
	float: right;
	margin-top: 150px;
	background: url(../images/bgman.png) no-repeat;
	width: 801px;
	height: 400px;
}
.box10 {
	padding-top: 40px;
	padding-left: 100px;
	background-color: #F0F6FE	;
	margin-top: 150px	;
	width: 718px;
	height: 400px;
	float: left;
}
.box10 input {
	border: 0;
	border-radius: 6px;
	padding: 16px;
	width: 470px;
	height: 48px;
	margin-top: 12px;
}
.box10 button {
	margin-top: 12px;
	width: 160px;
	height: 50px;
	background-color: #F2C94C;
	color: #333333;
	border: 0;
	border-radius: 40px;
}
/*footer end*/
.aqibash{
	margin-top: 575px;
	background-color: #22426D;
	width: 100%;
	height: 80px
}